<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

<listeners>
<listener class-name="com.mindtree.marriott.utilities.Listeners"/>

<listener class-name="com.mindtree.marriott.utilitiess.ExtentReporterNG"/>
</listeners>
 <test thread-count="5" name="Test1">
     <classes>
       <class name="com.mindtree.marriott.reusablecomponents.Methods"/>
     </classes>
        </test>
        <test thread-count="5" name="Test1">
     <classes>
       <class name="com.mindtree.marriott.reusablecomponents.Drivers"/>
     </classes>
        </test>
  <test thread-count="5" name="Test">
  </test> <!-- Test -->
</suite> <!-- Suite -->
